.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

.page > div {
    overflow: hidden;
}

.feed__slider-control {
    position: absolute;
}

.feed__slider-control .slick-prev {
    left: 720px;
}

.feed__slider-control .slick-next {
    left: 780px;
}

.module__info-show .plus-rotate {
    transform: translateY(2px) rotate(45deg);
    transition: all ease-in-out .4s;
}